{% extends "./base_templates/base.html" %}

{% block content %}

<script>
  $(document)
    .ready(function() {

      // fix main menu to page on passing
      $('.main.menu').visibility({
        type: 'fixed'
      });
      $('.overlay').visibility({
        type: 'fixed',
        offset: 80
      });

      // lazy load images
      $('.image').visibility({
        type: 'image',
        transition: 'vertical flip in',
        duration: 500
      });

      // show dropdown on hover
      $('.main.menu  .ui.dropdown').dropdown({
        on: 'hover'
      });
    })
  ;
  </script>

  <style type="text/css">

  body {
    background-color: #FFFFFF;
  }
  .main.container {
    margin-top: 2em;
  }

  .main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition:
      box-shadow 0.5s ease,
      padding 0.5s ease
    ;
  }
  .main.menu .item img.logo {
    margin-right: 1.5em;
  }

  .overlay {
    float: left;
    margin: 0em 3em 1em 0em;
  }
  .overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
  }

  .main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .overlay.fixed .menu {
    left: 800px;
  }

  .text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
  }
  .text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
  }

  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  </style>



 <div class="ui main text container">
    <h1 class="ui header">Lake University</h1>
  </div>


  <div class="ui stackable menu">
      <a class="item" href="/">Home</a>
      <a class="item" href="/student_management/1">Student management</a>
      <a class="item" href="/landing_page_management">Landing page management</a>
      <a class="item" href="/feedback_list">Feedback list</a>

      {% if current_user.access_level == 1 %}
       <a href="{{ url_for('student_transaction', page_num=1) }}" class="item">Manage student transaction</a>
      {% endif %}
            
      <div class="right menu">
        {% if current_user.access_level == 1 %}
          <a href="{{ url_for('student_transaction', page_num=1) }}" class="item">Student transactions</a>
        {% endif %}
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}" class="item">Log in</a>
          <a href="{{ url_for('register') }}" class="item">Sign Up</a>
        {% else %}
          <a href="{{ url_for('user', user_id=current_user.id) }}" class="item">Profile</a>
          <a href=" {{ url_for('logout') }}" class="item">Logout</a>
        {% endif %}
      </div>

    
  </div>


  <div class="ui text"  style="min-height: 100vh;">
    {% block admin_content %}{% endblock admin_content %}
  </div>

    <div class="ui inverted vertical footer segment" style="font-family:'Roboto', sans-serif; ">
        <div class="ui container">
          <divclass="ui stackable inverted divided equal height stackable grid">
            <div><p>Copyright © 2020 Lake University. All Rights Reserved.</p></div>
          </div>
        </div>
      </div>

{% endblock content%}